# EditorConfig helps maintain consistent coding styles across editors.
# See https://editorconfig.org for information about this file.
root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 120

[*.{dart,kt}]
max_line_length = 140

[*.{md,json,yml,yaml}]
indent_size = 2

[*.dart]
indent_size = 2

[*.{kt,kts}]
indent_size = 4

[*.{xml,html}]
indent_size = 4

[Makefile]
indent_style = tab